In [1]:
import pandas as pd

In [2]:
data_1 = pd.read_csv("GCB2022v27_MtCO2_flat.csv")
data_2 = pd.read_csv("GCB2022v27_percapita_flat.csv")
data_3 = pd.read_csv("GCB2022v27_sources_flat.csv")

### Cleaning Data 1

In [3]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63104 entries, 0 to 63103
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             63104 non-null  object
 1   ISO 3166-1 alpha-3  61472 non-null  object
 2   Year                63104 non-null  int64
 3   Total               62904 non-null  float64
 4   Coal                21744 non-null  float64
 5   Oil                 21717 non-null  float64
 6   Gas                 21618 non-null  float64
 7   Cement              20814 non-null  float64
 8   Flaring             21550 non-null  float64
 9   Other               1620 non-null   float64
 10  Per Capita          18974 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 5.3+ MB

In [4]:
data_1.isnull().sum()

Country                   0
ISO 3166-1 alpha-3     1632
Year                      0
Total                   200
Coal                  41360
Oil                   41387
Gas                   41486
Cement                42290
Flaring               41554
Other                 61484
Per Capita            44130
dtype: int64

In [5]:
data_1.duplicated().sum()

0

In [13]:
for column in data_1.columns:
    print(" ")
    print("Unique Value for ", column, ' : ', data_1[column].unique())

Unique Value for  Country  :  ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antarctica' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bonaire, Saint Eustatius and Saba' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei Darussalam' 'Bulgaria'
 'Burkina Faso' 'Burundi' 'Cambodia' 'Canada' 'Cape Verde'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Christmas Island'
 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica' "Côte d'Ivoire"
 'Croatia' 'Cuba' 'Curaçao' 'Cyprus' 'Czech Republic' 'North Korea'
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Ethiopia' 'Faeroe Islands'
 'Micronesia (Federated States of)' 'Fiji' 'Finland' 'Panama Canal Zone'
 'France' 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guatemala'
 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iraq' 'Ireland' 'Iran' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao'
 'North Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali'
 'Malta' 'Marshall Islands' 'Martinique' 'Mauritania' 'Mauritius'
 'Mayotte' 'Mexico' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'Norway' 'Occupied Palestinian Territory' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Bolivia'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Cameroon' 'South Korea'
 'Moldova' 'South Sudan' 'Sudan' 'Réunion' 'Romania' 'Russia' 'Rwanda'
 'Saint Helena' 'Saint Lucia' 'Sint Maarten (Dutch part)' 'Samoa'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Saint Kitts and Nevis'
 'St. Kitts-Nevis-Anguilla' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Suriname' 'Swaziland' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Thailand' 'Timor-Leste'
 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'Tanzania' 'USA' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Viet Nam' 'Wallis and Futuna Islands'
 'Yemen' 'Zambia' 'Zimbabwe' 'International Transport' 'Global']

Unique Value for  ISO 3166-1 alpha-3  :  ['AFG' 'ALB' 'DZA' 'AND' 'AGO' 'AIA' 'ATA' 'ATG' 'ARG' 'ARM' 'ABW' 'AUS'
 'AUT' 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL' 'BLZ' 'BEN' 'BMU' 'BTN'
 'BES' 'BIH' 'BWA' 'BRA' 'VGB' 'BRN' 'BGR' 'BFA' 'BDI' 'KHM' 'CAN' 'CPV'
 'CAF' 'TCD' 'CHL' 'CHN' 'CXR' 'COL' 'COM' 'COG' 'COK' 'CRI' 'CIV' 'HRV'
 'CUB' 'CUW' 'CYP' 'CZE' 'PRK' 'COD' 'DNK' 'DJI' 'DMA' 'DOM' 'ECU' 'EGY'
 'SLV' 'GNQ' 'ERI' 'EST' 'ETH' 'FRO' 'FSM' 'FJI' 'FIN' 'PCZ' 'FRA' 'GUF'
 'PYF' 'GAB' 'GMB' 'GEO' 'DEU' 'GHA' 'GRC' 'GRL' 'GRD' 'GLP' 'GTM' 'GIN'
 'GNB' 'GUY' 'HTI' 'HND' 'HKG' 'HUN' 'ISL' 'IND' 'IDN' 'IRQ' 'IRL' 'IRN'
 'ISR' 'ITA' 'JAM' 'JPN' 'JOR' 'KAZ' 'KEN' 'KIR' 'KSV' 'KWT' 'KGZ' 'LAO'
 'LVA' 'LBN' 'LSO' 'LBR' 'LBY' 'LIE' 'LTU' 'LUX' 'MAC' 'MKD' 'MDG' 'MWI'
 'MYS' 'MDV' 'MLI' 'MLT' 'MHL' 'MTQ' 'MRT' 'MUS' 'MYT' 'MEX' 'MNG' 'MNE'
 'MSR' 'MAR' 'MOZ' 'MMR' 'NAM' 'NRU' 'NPL' 'NLD' 'NCL' 'NZL' 'NIC' 'NER'
 'NGA' 'NIU' 'NOR' 'PSE' 'OMN' 'PAK' 'PLW' 'PAN' 'PNG' 'PRY' 'PER' 'PHL'
 'BOL' 'POL' 'PRT' 'PRI' 'QAT' 'CMR' 'KOR' 'MDA' 'SSD' 'SDN' 'REU' 'ROU'
 'RUS' 'RWA' 'SHN' 'LCA' 'SXM' 'WSM' 'STP' 'SAU' 'SEN' 'SRB' 'SYC' 'SLE'
 'SGP' 'SVK' 'SVN' 'SLB' 'SOM' 'ZAF' 'ESP' 'LKA' 'KNA' 'SPM' 'VCT' 'SUR'
 'SWZ' 'SWE' 'CHE' 'SYR' 'TWN' 'TJK' 'THA' 'TLS' 'TGO' 'TON' 'TTO' 'TUN'
 'TUR' 'TKM' 'TCA' 'TUV' 'UGA' 'UKR' 'ARE' 'GBR' 'TZA' 'USA' 'URY' 'UZB'
 'VUT' 'VEN' 'VNM' 'WLF' 'YEM' 'ZMB' 'ZWE' 'XIT' 'WLD']

Unique Value for  Year  :  [1750 1751 1752 1753 1754 1755 1756 1757 1758 1759 1760 1761 1762 1763
 1764 1765 1766 1767 1768 1769 1770 1771 1772 1773 1774 1775 1776 1777
 1778 1779 1780 1781 1782 1783 1784 1785 1786 1787 1788 1789 1790 1791
 1792 1793 1794 1795 1796 1797 1798 1799 1800 1801 1802 1803 1804 1805
 1806 1807 1808 1809 1810 1811 1812 1813 1814 1815 1816 1817 1818 1819
 1820 1821 1822 1823 1824 1825 1826 1827 1828 1829 1830 1831 1832 1833
 1834 1835 1836 1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847
 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861
 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875
 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889
 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903
 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917
 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931
 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945
 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959
 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973
 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020 2021]

Unique Value for  Total  :  [0.00000000e+00 1.46560000e-02 8.42720000e-02 ... 3.70825590e+04
 3.52640857e+04 3.71238504e+04]

Unique Value for  Coal  :  [0.00000000e+00 1.46560000e-02 2.10680000e-02 ... 1.47259780e+04
 1.41745640e+04 1.49795981e+04]

Unique Value for  Oil  :  [0.00000000e+00 6.32040000e-02 6.59520000e-02 ... 1.23456534e+04
 1.11918086e+04 1.18371591e+04]

Unique Value for  Gas  :  [0.00000000e+00 2.60144000e-01 3.47041000e-01 ... 7.64752822e+03
 7.55629028e+03 7.92182947e+03]

Unique Value for  Cement  :  [0.00000000e+00 1.81710000e-02 1.80120000e-02 ... 1.61750679e+03
 1.63753753e+03 1.67259237e+03]

Unique Value for  Flaring  :  [0.00000000e+00 2.97436000e-01 3.04112000e-01 ... 4.39253991e+02
 4.07583673e+02 4.16525563e+02]

Unique Value for  Other  :  [  0.         2.242063   2.229622 ... 306.638573 296.301685 296.145746]

Unique Value for  Per Capita  :  [0.       0.011266 0.012098 ... 4.775633 4.497423 4.693699]

In [7]:
data_1 = data_1.dropna(subset = ['Total'])

In [9]:
data_1 = data_1.dropna(subset = ['ISO 3166-1 alpha-3'])

In [10]:
data_1.isnull().sum()

Country                   0
ISO 3166-1 alpha-3        0
Year                      0
Total                     0
Coal                  39612
Oil                   39639
Gas                   39738
Cement                40542
Flaring               39806
Other                 59652
Per Capita            42730
dtype: int64

In [11]:
data_1 = data_1.fillna(0)

In [12]:
data_1.isnull().sum()

Country               0
ISO 3166-1 alpha-3    0
Year                  0
Total                 0
Coal                  0
Oil                   0
Gas                   0
Cement                0
Flaring               0
Other                 0
Per Capita            0
dtype: int64

In [14]:
data_1 = data_1.to_csv("GCB2022v27_MtCO2_flat_CLEAN.csv")

### Cleaning Data 2

In [15]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63104 entries, 0 to 63103
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             63104 non-null  object
 1   ISO 3166-1 alpha-3  61472 non-null  object
 2   Year                63104 non-null  int64
 3   Total               18972 non-null  float64
 4   Coal                17138 non-null  float64
 5   Oil                 17039 non-null  float64
 6   Gas                 17012 non-null  float64
 7   Cement              15448 non-null  float64
 8   Flaring             16944 non-null  float64
 9   Other               1620 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 4.8+ MB

In [24]:
data_2.isnull().sum()

Country               0
ISO 3166-1 alpha-3    0
Year                  0
Total                 0
Coal                  0
Oil                   0
Gas                   0
Cement                0
Flaring               0
Other                 0
dtype: int64

In [17]:
data_2.duplicated().sum()

0

In [18]:
for column in data_2.columns:
    print(" ")
    print("Unique Value for ", column, ' : ', data_2[column].unique())

Unique Value for  Country  :  ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antarctica' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bonaire, Saint Eustatius and Saba' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei Darussalam' 'Bulgaria'
 'Burkina Faso' 'Burundi' 'Cambodia' 'Canada' 'Cape Verde'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Christmas Island'
 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica' "Côte d'Ivoire"
 'Croatia' 'Cuba' 'Curaçao' 'Cyprus' 'Czech Republic' 'North Korea'
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Ethiopia' 'Faeroe Islands'
 'Micronesia (Federated States of)' 'Fiji' 'Finland' 'Panama Canal Zone'
 'France' 'French Equatorial Africa' 'French Guiana' 'French Polynesia'
 'French West Africa' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana'
 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iraq' 'Ireland' 'Iran' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo'
 'Kuwait' 'Kuwaiti Oil Fires' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Leeward Islands' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Macao' 'North Macedonia' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique' 'Mauritania'
 'Mauritius' 'Mayotte' 'Mexico' 'Mongolia' 'Montenegro' 'Montserrat'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'Norway' 'Occupied Palestinian Territory' 'Oman'
 'Pacific Islands (Palau)' 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Bolivia' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Cameroon' 'South Korea' 'Moldova' 'South Sudan'
 'Sudan' 'Réunion' 'Romania' 'Russia' 'Rwanda' 'Ryukyu Islands'
 'Saint Helena' 'Saint Lucia' 'Sint Maarten (Dutch part)' 'Samoa'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Saint Kitts and Nevis'
 'St. Kitts-Nevis-Anguilla' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Suriname' 'Swaziland' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Thailand' 'Timor-Leste'
 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'Tanzania' 'USA' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Viet Nam' 'Wallis and Futuna Islands'
 'Yemen' 'Zambia' 'Zimbabwe' 'International Transport' 'Global']

Unique Value for  ISO 3166-1 alpha-3  :  ['AFG' 'ALB' 'DZA' 'AND' 'AGO' 'AIA' 'ATA' 'ATG' 'ARG' 'ARM' 'ABW' 'AUS'
 'AUT' 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL' 'BLZ' 'BEN' 'BMU' 'BTN'
 'BES' 'BIH' 'BWA' 'BRA' 'VGB' 'BRN' 'BGR' 'BFA' 'BDI' 'KHM' 'CAN' 'CPV'
 'CAF' 'TCD' 'CHL' 'CHN' 'CXR' 'COL' 'COM' 'COG' 'COK' 'CRI' 'CIV' 'HRV'
 'CUB' 'CUW' 'CYP' 'CZE' 'PRK' 'COD' 'DNK' 'DJI' 'DMA' 'DOM' 'ECU' 'EGY'
 'SLV' 'GNQ' 'ERI' 'EST' 'ETH' 'FRO' 'FSM' 'FJI' 'FIN' 'PCZ' 'FRA' nan
 'GUF' 'PYF' 'GAB' 'GMB' 'GEO' 'DEU' 'GHA' 'GRC' 'GRL' 'GRD' 'GLP' 'GTM'
 'GIN' 'GNB' 'GUY' 'HTI' 'HND' 'HKG' 'HUN' 'ISL' 'IND' 'IDN' 'IRQ' 'IRL'
 'IRN' 'ISR' 'ITA' 'JAM' 'JPN' 'JOR' 'KAZ' 'KEN' 'KIR' 'KSV' 'KWT' 'KGZ'
 'LAO' 'LVA' 'LBN' 'LSO' 'LBR' 'LBY' 'LIE' 'LTU' 'LUX' 'MAC' 'MKD' 'MDG'
 'MWI' 'MYS' 'MDV' 'MLI' 'MLT' 'MHL' 'MTQ' 'MRT' 'MUS' 'MYT' 'MEX' 'MNG'
 'MNE' 'MSR' 'MAR' 'MOZ' 'MMR' 'NAM' 'NRU' 'NPL' 'NLD' 'NCL' 'NZL' 'NIC'
 'NER' 'NGA' 'NIU' 'NOR' 'PSE' 'OMN' 'PAK' 'PLW' 'PAN' 'PNG' 'PRY' 'PER'
 'PHL' 'BOL' 'POL' 'PRT' 'PRI' 'QAT' 'CMR' 'KOR' 'MDA' 'SSD' 'SDN' 'REU'
 'ROU' 'RUS' 'RWA' 'SHN' 'LCA' 'SXM' 'WSM' 'STP' 'SAU' 'SEN' 'SRB' 'SYC'
 'SLE' 'SGP' 'SVK' 'SVN' 'SLB' 'SOM' 'ZAF' 'ESP' 'LKA' 'KNA' 'SPM' 'VCT'
 'SUR' 'SWZ' 'SWE' 'CHE' 'SYR' 'TWN' 'TJK' 'THA' 'TLS' 'TGO' 'TON' 'TTO'
 'TUN' 'TUR' 'TKM' 'TCA' 'TUV' 'UGA' 'UKR' 'ARE' 'GBR' 'TZA' 'USA' 'URY'
 'UZB' 'VUT' 'VEN' 'VNM' 'WLF' 'YEM' 'ZMB' 'ZWE' 'XIT' 'WLD']

Unique Value for  Year  :  [1750 1751 1752 1753 1754 1755 1756 1757 1758 1759 1760 1761 1762 1763
 1764 1765 1766 1767 1768 1769 1770 1771 1772 1773 1774 1775 1776 1777
 1778 1779 1780 1781 1782 1783 1784 1785 1786 1787 1788 1789 1790 1791
 1792 1793 1794 1795 1796 1797 1798 1799 1800 1801 1802 1803 1804 1805
 1806 1807 1808 1809 1810 1811 1812 1813 1814 1815 1816 1817 1818 1819
 1820 1821 1822 1823 1824 1825 1826 1827 1828 1829 1830 1831 1832 1833
 1834 1835 1836 1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847
 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861
 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875
 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889
 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903
 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917
 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931
 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945
 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959
 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973
 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020 2021]

Unique Value for  Total  :  [     nan 0.011266 0.012098 ... 4.775633 4.497423 4.693699]

Unique Value for  Coal  :  [     nan 0.002816 0.003387 ... 1.896468 1.80776  1.893923]

Unique Value for  Oil  :  [     nan 0.008449 0.008711 ... 1.58992  1.427353 1.496614]

Unique Value for  Gas  :  [     nan 0.       0.025988 ... 0.984878 0.963695 1.001585]

Unique Value for  Cement  :  [     nan 0.       0.002146 ... 0.208309 0.208844 0.211472]

Unique Value for  Flaring  :  [     nan 0.       0.027661 ... 0.056569 0.051981 0.052663]

Unique Value for  Other  :  [     nan 0.131515 0.129096 ... 0.03949  0.037789 0.037443]

In [19]:
data_2 = data_2.dropna(subset = ['ISO 3166-1 alpha-3'])

In [23]:
data_2.fillna(0, inplace = True)

In [25]:
data_2 = data_2.to_csv("GCB2022v27_percapita_flat_CLEAN.csv")

### Cleaning Data 3

In [26]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63104 entries, 0 to 63103
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             63104 non-null  object
 1   ISO 3166-1 alpha-3  61472 non-null  object
 2   Year                63104 non-null  int64
 3   Total               63104 non-null  object
 4   Coal                63104 non-null  object
 5   Oil                 63104 non-null  object
 6   Gas                 63104 non-null  object
 7   Cement              63104 non-null  object
 8   Flaring             63104 non-null  object
 9   Other               63104 non-null  object
 10  Per Capita          63104 non-null  object
dtypes: int64(1), object(10)
memory usage: 5.3+ MB

In [30]:
data_3.isnull().sum()

Country               0
ISO 3166-1 alpha-3    0
Year                  0
Total                 0
Coal                  0
Oil                   0
Gas                   0
Cement                0
Flaring               0
Other                 0
Per Capita            0
dtype: int64

In [28]:
data_3.duplicated().sum()

0

In [29]:
data_3 = data_3.dropna(subset = ['ISO 3166-1 alpha-3'])

In [31]:
data_3 = data_3.to_csv("GCB2022v27_sources_flat_CLEAN.csv")